.client-section {
    margin-top: 1000px;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .client-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .client-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .client-link {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .client-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .client-logos img {
    max-width: 100px;
    height: auto;
    margin: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s;
  }
  
  .client-logos img:hover {
    filter: grayscale(0%);
  }
  
  @media screen and (max-width: 768px) {
    .client-logos {
      flex-direction: column;
      align-items: center;
    }
  
    .client-logos img {
      max-width: 80px;
    }
  }
  