.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 10%;
  }
  
  .hero h1 {
    font-size: 96px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin: 0px;
  }
  
  .hero-body p {
    color: rgba(182, 182, 182, 1);
    font-size: 18px;
    text-align: center;
  }