.divider {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 300px;
  }

  .divider img {
    width: 100%;
  }
  
  .divider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0)
  }
  
  .divider-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    background: rgba(0, 0, 0, 0)
  }
  
  .divider-text p {
    font-size: 1.25rem;
    margin: 0.5rem 0 0;
    background: linear-gradient(to right, violet, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  