.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
}

.logo {
    flex: 1; 
    text-align: center;
}

.logo img {
    max-height: 70px; 
}

.hamburger {
    cursor: pointer;
    padding-left: 30px;
    padding-bottom: 30px;
}

.nav-menu {
    display: none;
    list-style: none;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
}

.nav-menu-list li {
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
}

.nav-menu-list li:last-child {
    margin-right: 0; 
}

.nav-menu-list li a {
    font-size: 19.2px;
    font-weight: 500;
    text-decoration: none;
    color: #fff; 
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
}

.language-button button {
    padding-right: 32px;
    padding-bottom: 13px;
    border: none;
    background: none;
    cursor: pointer;
}

.language-button img {
    height: 33px;
}

@media screen and (max-width: 1040px) {
    .hamburger {
        display: initial;
    }

    .nav-menu {
        display: none;
    }
}