.dividers {
  position: absolute;
  width: 100vw;
  height: auto;
  overflow: hidden;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.dividers img {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: auto;
}
