.footer {
  margin-top: 100px;
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-top: 1px solid #bba16c;
  padding-top: 50px;
}

.footer-left,
.footer-middle,
.footer-right {
  flex-basis: 15%;
  margin-bottom: 20px;
  position: relative;
  flex-grow: 1;
}

.footer-middle h1::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -40px;
  right: -10px;
  height: 1px;
  background-color: #303030;
  width: calc(100% + 70px);
}
.footer-right h1::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -40px;
  right: -10px;
  height: 1px;
  background-color: #303030;
  width: calc(100% + 40px);
}
.footer-middle,
.footer-right {
  border-left: 1px solid #303030;
}

.footer-logo {
  max-width: 302px;
  margin-bottom: 10px;
}

.footer-left p,
.footer-middle p,
.footer-right p {
  margin: 5px 0;
}

.footer-middle h1,
.footer-right h1 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-middle ul,
.footer-right ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-middle ul li,
.footer-right ul li {
  margin-bottom: 12px;
}

.footer-middle ul li a,
.footer-right ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
}

.footer-follow-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-follow-us h1 {
  font-size: 18px;
  margin-right: 10px;
}

.footer-icons {
  display: flex;
}

.footer-icons a {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-text {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.footer-text a {
  margin: 0 5px;
}
.footer-bottom p {
  margin: 0;
}

/* değişecek illaki ama temel dursun */