.footer {
  box-sizing: border-box;
  border-top: 1px solid #bba16c;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 50px;
}

.category-container{
  border-right: 1px solid #303030;
}

#last-container{
  border-right: none;
}

.footer-category-title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;


  border-bottom: 1px solid #303030;

  font-size: 24px;
  text-align: center;

  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.footer-middle {
  border-right: 1px solid #303030;
}
.footer-left{
  flex-basis: 20%;
  height: fit-content;

}
.footer-right{
  box-sizing: border-box;
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
}

.footer-options{
  padding: 0 20px;
}
.footer-logo {
  width: 100%;
  margin-bottom: 10px;
}

.footer-left p,
.footer-middle p,
.footer-right p {
  margin: 5px 0;
}


.footer-middle ul,
.footer-right ul {
  list-style: none;
  text-align: center;
}

.footer-middle ul li,
.footer-right ul li {
  margin-bottom: 12px;
}

.footer a{
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
}



.footer-follow-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-follow-us h1 {
  font-size: 18px;
  margin-right: 10px;
}

.footer-icons {
  display: flex;
}

.footer-icons a {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom .bottom{
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
.footer-text a {
  margin: 0 5px;
}
.footer-bottom p {
  margin: 0;
}

/* değişecek illaki ama temel dursun */


@media only screen and (max-width: 1028px ) {
  .footer-container, .footer-right{
    flex-direction: column;
    align-items: center;
  }
  .footer-right{
    padding-top: 50px;
    gap:30px;
  }

  .category-container{
    display: flex;
    border-right: none;
    height: fit-content;
  
  }

  .footer-category-title{
    margin: 0;
  }
  .footer-left {
    max-width: 500px;
    font-size: 20px;
    flex-basis: 100%; /* Take full width on smaller screens */
    text-align: center; /* Center text */
    border-right: none; /* Remove borders */
    border-left: none;
  }


  .footer-options{
    display:none;
  }

  .footer-middle{
    border-right: none;
  }

  .footer-bottom{
    padding-top: 50px;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 200px;
    }
  .footer-bottom .bottom{
    flex-basis: 0;
    width: 100%;
  }

  .footer-bottom .footer-text a{
    font-size: 20px;
    font-weight: 300;
  }
}
