.hero3 {
  background: black;
}

.hero3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background: black;
  flex-direction: row; /* Align children horizontally */
}

.headings-h3 {
  width: 60%;
}

.headings-h3 h1 {
  font-size: 96px;
  display: block;
}

.headings-h3 h1.grey {
  padding-left: 120px;
  color: #B5B5B5;
  display: inline; /* Ensure h1 elements stay on the same line */
}

.headings-h3 p {
  font-size: 20px;
  color: #BBA16C;
  padding-left: 20px;
}

.hero3-image {
  width: 40%;
  padding-right: 500px;
}

