
.home-section5-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* ServicesCards.css */
.home-section5-container .container {
  display: flex;
  gap:10px;
  padding-bottom: 40px;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 700px;
}


.home-section5-container .left{
  height: 100%;
  width: 70%;

}
.home-section5-container .right{
  height: 100%;
  display: flex;

  flex-direction: column;
  gap: 20px;

}

.service-content {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  height: 75%;
  flex-direction: column;
}

.service-content .text{
  background-color: transparent;
}
.service-card {
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 700px;
}

.service-card h2 {
  font-size: clamp(24px, 24px + 1vw, 38px);
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}

.service-card-text1 {
  font-size: 16px;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 100px;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
.service-card-text2 {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}

.service-button {
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  background-color: #00008b;
  position: absolute;
  bottom: 5%;
  left: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

/* Specific Styles for Each Card */
.developers {
  background-color: #121316 !important;
  grid-row: span 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 60%;
  border: 2px solid #222;
}

.service-image {
  height: 90%;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0);
}

.service-image img {
  object-fit:cover;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1600px) {
  .service-image img {
    max-height: 700px;
  }
}
.marketers {
  background-color: #cde1ff !important;
  color: #000;
}

.marketers h2 {
  color: #000 !important;
}

.marketers p {
  color: #000 !important;
}

.marketers .service-button {
  background-color: #4d6bff;
}

.consultants {
  background-color: #00254d !important;
  color: #fff;
}

.consultants .service-button {
  background-color: #fff;
  color: #00254d;
}

.icon {
  background-color: #40434f;
  color: #000;
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 16px;
}



@media only screen and (max-width: 1028px ) {
  .home-section5-container .container{
    display: flex;
    flex-direction: column;
    height: auto;
    gap:20px;
    width: 100%;

  }
  .home-section5-container .left{
      width: 100%;
  }

  .service-card-text2{
    padding-bottom: 50px;
    top: 40%;
  }

  .home-section5-container .right{
    width: 100%;
    flex-direction: row;
    height: 350px;
  }
}

@media only screen and (max-width: 728px){
  .flex-container{
    grid-template-columns: repeat(1, 1fr);

  }
  .service-card-text1{
    margin-bottom: 25px;
  }
  .service-card-text2{
    padding-bottom: 50px;
  }
  .home-section5-container .container .right{
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .developers {
    flex-direction: column;
  }

  .developers .service-image{
    height: 200px;
    width: 100%;
    padding-bottom: 100px;
  }
  .service-image img{
    object-fit:cover;
    object-position: 0 68%;
    width: 100%;
    height: 100%;
  }
}
