* {
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  max-width: 1800px;
}
.about-us-hero2 h1 {
  color: #000 !important;
}
.about-us-hero2 p {
  color: #000 !important;
}
.button1 {
  background-color: rgba(0, 0, 139, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px solid transparent;
  border-radius: 20px;
  width: 231px;
  height: 55px;
  cursor: pointer;
  margin-right: 5%;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button2 {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 0px solid transparent;
  border-radius: 20px;
  width: 231px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button1:hover,
.button2:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.forward-button {
  background-color: rgba(0, 0, 139, 1);
}
