.headings {
  margin-top: 5%;
}
.headings h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 70px;
}

.headings h2 {
  text-align: center;
  font-size: 60px;
  margin-top: 2%;
  background: linear-gradient(to right, #009dff, #1ed5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-section3-container p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

/* Container to hold the overall content */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem;
  margin: auto;
  position: relative;
  border-radius: 15px;
}

/* Logo styling */
.image-container img[alt="virtue-logo"] {
  position: absolute;
  bottom: 1%;
  left: 5%;
  width: 12%;
  height: auto;
  background: rgba(0, 0, 0, 0);
}

/* Styling for the blue rectangle content */
.blue-rectangle-content {
  background: linear-gradient(135deg, #005a9e, #50b7f5);
  padding: 2rem;
  border-radius: 20px;
  color: #ffffff;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
}

.codeblock {
  background: rgba(0, 0, 0, 0);
  width: 600px;
  height: auto;
  position: relative;
  left: 10%;
}
.blue-rectangle-content-text {
  background: rgba(0, 0, 0, 0);
}
.blue-rectangle-content h1 {
  font-size: 50px;
  margin-bottom: 5%;
  background: rgba(0, 0, 0, 0);
  width: 80%;
}

.blue-rectangle-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10%;
  text-align: left;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}

.blue-rectangle-content a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 2px;
  transition: transform 0.3s ease;
  background: rgba(0, 0, 0, 0);
}

.blue-rectangle-content a:hover {
  color: #000000;
  transform: translateY(-10px); /* Lift effect on hover */
}

/* Combined image styling */
.image-container img[alt="Blue Rectangle"] {
  max-width: 500px; /* Adjust as needed */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
}

.readmore-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readmore-button:hover {
  color: #000000;
}
